.home {
  .services {
    // margin-top: VW(10);
        overflow: hidden;

    .list {
      border-bottom: VW(1) solid $c-black;
      .services-card {
        display: flex;
        gap: VW(40);
        padding: VW(15) 0 VW(12);
        border-top: VW(1) solid $c-black;
      }
    }

    &-content {
      width: 100%;
      height: VW(900);
      overflow: hidden;

      @include forMobile {
        height: auto;
        aspect-ratio: 3/4;
        transform: none !important;
        object-position: 20%;
      }
    }
  }
}