.projects-page {
  .filters {
    position: relative;
    z-index: 100;
    margin-top: VW(20);

    button {
      text-align: left;
      outline: none;
    }

    &--active {
      .open-button {
        &__line:nth-of-type(2) {
          clip-path: inset(0 100% 0 0%) !important;
          transition-delay: 0s !important;
        }
      }

      .filters-body {
        pointer-events: all;
        clip-path: inset(0 0 0% 0);
      }
    }

    .open-button {
      grid-column: 6/8;
      text-align: left;
      padding-bottom: VW(10);
      position: relative;

      display: flex;
      align-items: center;
      gap: VW(10);

      @include hover {
        .open-button__text {
          transform: translateY(-1.22em);
        }
      }

      &__line {
        width: 1em;
        height: max(VW(1), 1px);
        background-color: $c-black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        transition-duration: 0.5s, 0.5s;
        transition-property: rotate, clip-path;
        transition-timing-function: $ease-in-out-cubic;
        transition-delay: 0.4s;

        &:nth-of-type(2) {
          rotate: -90deg;
          clip-path: inset(0 0 0 0%);
        }

        &-wrapper {
          min-width: VW(30);
          min-height: VW(30);
          position: relative;

          @include forTablet {
            width: VW(30, $tablet);
            height: VW(30, $tablet);
          }

          @include forMobile {
            width: VW(18, $mobile);
            height: VW(18, $mobile);
          }
        }
      }

      &__text {
        text-shadow: 0 1.2em 0;
        transition: transform 1s $ease-in-out-circ;
        display: inline-block;
        &-wrapper {
          height: 1.1em;
          overflow-y: hidden;
          display: inline-block;
        }
      }    
    }

    &-body {
      position: absolute;
      top: 100%;
      width: 100%;
      grid-row: 2/2;
      grid-column: 1/13;
      row-gap: VW(60);
      background-color: #ececec;
      border-top: VW(1) solid #00000030;
      padding: VW(20) 0;

      transition: clip-path 1s $ease-in-out-circ;

      pointer-events: none;
      clip-path: inset(0 0 100% 0);

      &__wrapper {
        grid-column: 6/12;
        grid-row: 1/1;
        display: flex;
        gap: VW(100);
      }

      .filter-wrapper {
        display: flex;
        flex-direction: column;
        gap: VW(20);

        .options {
          display: flex;
          flex-direction: column;

          .link {
            padding: VW(4) 0;

            @include hover {
              .link-text {
                opacity: 0.5;
              }
            }

            &--active {

              .link-text {
                opacity: 0.5 !important;
              }
            }

            &-text {
              transition: opacity 0.3s ease;
            }

            &-reset {
              .link-text {
                opacity: 1 !important;
              }
            }
          }
        }
      }

      .filter-range {
        width: VW(200);
        display: flex;
        flex-direction: column;
        gap: VW(20);
      }

      .clear-button {
        display: flex;
        align-items: center;
        gap: VW(3);
        transition: opacity 0.3s ease;
        grid-column: 6/7;
        grid-row: 2/2;
        opacity: 0;
        filter: blur(0.4vw);
        scale: 1.1;

        transition: 1s $ease-in-out-circ;
        transition-property: opacity filter scale;

        @include hover {
          .link-text {
            opacity: 0.6;
          }

          .clear-button-icon {
            stroke-dashoffset: 0 !important;
            transition: stroke-dashoffset 1s ease !important;
          }
        }

        &--active {
          opacity: 1;
          filter: blur(0vw);
          scale: 1;
        }

        &-icon {
          width: VW(15);
          height: VW(15);

          stroke-dasharray: 20;
          stroke-dashoffset: 40;

          transition: stroke-dashoffset 0s ease;
        }

        .link-text {
          transition: opacity 0.3s ease;
        }
      }
    }
  }
}
