@import "./utils/typography";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/transition-page";
@import "./utils/keyframes";
@import "./utils/icons";
@import "./utils/responsive-data";

.body {
  @extend %body-text;
  background-color: $c-white;
  color: $c-black;
  overflow-x: hidden;
  opacity: 0;
  animation: opacityPresence 0.5s 0.5s ease forwards;

  ::selection {
    color: $g-10;
    background: $c-black;
    mix-blend-mode: difference;
  }
}

.html {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar {
    display: none; /* Firefox до версії 64 */
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    -ms-overflow-style: none;
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    overflow: -ms-autohiding-scrollbar;
  }
}

.container {
  padding-right: VW(20);
  padding-left: VW(20);
  
  @include forMobile {
    padding-right: VW(12, $mobile);
    padding-left: VW(12, $mobile);
  }
}

.shadow {
  color: $g-70;
}

.main {
  &--loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.lazyload-wrapper {
  height: 100%;
  width: 100%;

  img,
  video {
    height: 100%;
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, VW(108));
  column-gap: VW(10);

  @include forMobile {
    grid-template-columns: repeat(6, VW(61, $mobile));
    column-gap: 0;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}