.fixed-contacts {
  display: flex;
  gap: VW(5);
  margin-top: VW(15);
  position: fixed;
  bottom: VW(20);
  right: VW(20);
  z-index: 1000;

  pointer-events: all;
  opacity: 1;
  transition: opacity 0.5s ease, filter 0.5s ease,
    transform 0.5s $ease-in-out-expo;
  filter: blur(0vw);

  @include forMobile {
    bottom: VW(10, $mobile);
    right: VW(10, $mobile);
    gap: VW(5, $mobile);
    flex-direction: column;
  }

  &--hidden {
    opacity: 0;
    filter: blur(.5vw);
    pointer-events: none;
  }

  .icon {
    width: VW(40);
    height: VW(40);
    background: no-repeat center/contain;
    transition: filter 0.3s ease, opacity 0.3s ease;
    border-radius: 10vw;

    @include hover {
      // opacity: .8;
      filter: invert(0.8);
    }

    @include forMobile {
      width: VW(40, $mobile);
      height: VW(40, $mobile);
    }
  }
}
