.header {
  position: fixed;
  padding: VW(10) VW(20);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  align-items: center;

  color: $c-black;
  fill: $c-black;
  stroke: $c-black;

  transition: background-color 0.3s 0.2s ease, color 0.3s 0.2s ease;

  @include forMobile {
    padding: VW(5, $mobile) VW(10, $mobile);
  }

  &--white {
    color: $c-white;
    fill: $c-white;
    stroke: $c-white;

    .header__logo {
      filter: invert(1);
      
      &--regular {
        filter: invert(0) !important;

        .header__logo-text {
          color: $c-black;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: VW(15);
    right: VW(15);
    height: VW(1);
    background-color: $c-black;
    opacity: 0.1;

    z-index: -1;
  }

  &--bg {
    color: $c-black;
    fill: $c-black;
    stroke: $c-black;

    background-color: $c-white;

    .header__logo {
      filter: invert(0);
    }
  }

  &__logo {
    grid-column: 1/3;
    transition: filter 0.3s ease;
    width: VW(115);
    height: VW(25);

    @include forMobile {
      width: VW(100, $mobile);
      height: VW(20, $mobile);
    }

    & > div > img {
      width: 100%;
      height: 100%;
    }

    &-text {
      text-wrap: nowrap;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &--regular {
      position: relative;
      transition: 0.4s $ease-in-out-sine;
      transition-property: opacity;

      @include hover {
        .header__logo {
          &-image {
            opacity: 0;
          }

          &-text {
            opacity: 1;
            scale: 1;
            filter: blur(0vw);
          }
        }
      }

      .header__logo {
        &-image {
          position: absolute;
          transition: inherit;
          scale: 1;
        }

        &-text {
          position: absolute;
          opacity: 0;
          transition: inherit;
          filter: blur(.2vw);
        }
      }
    }
  }

  &__list {
    grid-column: 6/11;
    display: flex;
    align-items: center;
    gap: VW(10);
    margin-top: VW(3);

    .link {
      padding: 0 VW(15);
      transition: color 0.3s ease;

      &:nth-of-type(1) {
        padding: 0 VW(15) 0 0;
      }
    }
  }

  .right {
    grid-column: 11/13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: VW(15);
    
    @include forMobile {
      grid-column: 7/13;
      gap: VW(10, $mobile);
      padding-right: VW(10, $mobile);
    }

    a {
      transition: color 0.3s ease;
    }
  }
}
