.link-anim {
  height: 1.1em;
  overflow-y: hidden;

  display: flex;
  align-items: flex-start;
  gap: VW(5);
  
  @include hover {
    .link-anim__text {
      transform: translateY(-1.22em);
    }
  }

  &__text {
    text-shadow: 0 1.2em 0;
    transition: transform 1s $ease-in-out-circ;
    display: inline-block;
    &-wrapper {
      height: 1.1em;
      overflow-y: hidden;
      display: inline-block;
    }
  }

  &__icon {
    height: 0.9em;
    width: 0.9em;
      // padding-top: 0.1em;
  }
}
