@import "./mixins";

.super-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(100);
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5vw;

  @include forMobile {
    font-size: VW(70, $mobile);
    letter-spacing: VW(-4.2, $mobile);
  }
}

%h1 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(40);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;

  @include forMobile {
    font-size: VW(35, $mobile);
    line-height: 110%;
  }
}

%h2 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(30);
  font-weight: normal;
  line-height: 105%;
  letter-spacing: normal;

  @include forMobile {
    font-size: VW(25, $mobile);
  }
}

%body-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(16);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: normal;

  @include forMobile {
    font-size: VW(14, $mobile);
  }
}

.small-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(14);
  line-height: 105%;

  @include forMobile {
    font-size: VW(14, $mobile);
    line-height: 110%;
  }
}

.upperCase {
  text-transform: uppercase;
}

%link {
  @extend .small-text;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  a {
    @extend %link;
  }

  input,
  textarea {
    @extend .small-text;
    // font: inherit;
  }
}
