@import "./mixins";

%h1 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(62);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: normal;
}

.super-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  text-transform: uppercase;
  letter-spacing: normal;
}

%h3 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(20);
  font-style: bold;
  font-weight: normal;
  line-height: 105%;
  letter-spacing: normal;
}

%body-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(14);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: normal;
}

.upperCase {
  text-transform: uppercase;
}

%link {
  @extend %body-text;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  h3 {
    @extend %h3;
  }

  a {
    @extend %link;
  }
}
