@import "./mixins";

%h1 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(62);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: normal;

  @include forMobile {
    font-size: VW(30, $mobile);
  }
}

.super-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(125);
  line-height: 80%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
}

%h2 {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(30);
  font-weight: normal;
  line-height: 105%;
  letter-spacing: normal;

  @include forMobile {
    font-size: VW(20, $mobile);
  }
}


%body-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: normal;
  
  @include forMobile {
    font-size: VW(14, $mobile);
    line-height: 115%;
  }
}

.small-text {
  font-family: var(--pp-mori), sans-serif;
  font-size: VW(14);
  line-height: 105%;
  
  @include forMobile {
    font-size: VW(12, $mobile);
    line-height: 110%;
  }
}

.upperCase {
  text-transform: uppercase;
}

%link {
  @extend .small-text;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  a {
    @extend %link;
  }

  input, textarea {
    @extend .small-text;
    // font: inherit;
  }
}
