.why-us {
  position: relative;
  z-index: 1;
  overflow: hidden;

  padding-top: VW(200);

  @include forMobile {
    padding-top: VW(60, $mobile);
  }

  .super-text {
    display: block;
    text-align: center;
  }

  .list {
    row-gap: VW(120);
    margin-top: VW(120);

    @include forMobile {
      display: flex;
      flex-direction: column;
      row-gap: 0;
    }

    .card {
      grid-column: span 4;

      @include forMobile {
        padding: VW(20, $mobile) 0;

        &:not(:last-of-type) {
          border-bottom: VW(1, $mobile) solid $c-black;
        }
      }

      &:nth-of-type(3),
      &:nth-of-type(5) {
        margin-left: VW(20);
      }

      .title {
        width: 60%;

        @include forMobile {
          width: 100%;
        }
      }

      .text {
        width: 80%;
        margin-top: VW(10);

        @include forMobile {
          width: 90%;
          margin-top: VW(10, $mobile);
        }
      }
    }

    &__image {
      // width: 33%;
      grid-column: 5/9;
      grid-row: 2/2;

      @include forMobile {
        transform: none !important;
      }
    }
  }
}
