.download-section {
  display: flex;
  // padding: VW(20) 0;
  margin: VW(20) VW(20) 0;
  // border-top: VW(1) solid $c-black;

  &__button {
    grid-column: 3/11;

    @include hover {
      .icon {
        filter: invert(0);
      }
    }

    @include forMobile {
      grid-column: 1/7;
      margin: 0 VW(20);
    }

    .icon {
      transition: filter 0.3s 0.3s;
    }
  }

  &__list {
    display: flex;
    gap: VW(70);
    grid-column: 6/10;
  }
}
