.home {
  .hero {
    margin-top: VW(60);

    @include forMobile {
      margin-top: VW(100, $mobile);
    }

    .top {
      display: flex;
      justify-content: space-between;
      .hero {
        &__logo {
          height: 100%;
          width: VW(680);

          @include forMobile {
            display: none;
          }
        }

        &__title {
          display: flex;
          flex-direction: column;
          gap: VW(5);
          @include forMobile {
            font-size: VW(46, $mobile);
            letter-spacing: VW(-2, $mobile);
          }

          &--line {
            font-size: VW(92);
            line-height: 80%;
            letter-spacing: VW(-5);

            @include forMobile {
              font-size: VW(46, $mobile);
              letter-spacing: VW(-2, $mobile);
            }
          }

          .title-anim {
            position: absolute;
            width: 100%;
            font-size: VW(92);
            line-height: 90%;

            @include forMobile {
              font-size: VW(46, $mobile);
              letter-spacing: VW(-2, $mobile);
            }

            &__wrapper {
              display: flex;
              align-items: flex-start;
              width: 100%;
              height: VW(72);
              position: relative;
              overflow: hidden;

              @include forMobile {
                height: VW(46, $mobile);
              }
            }
          }
        }
      }
    }

    &__video {
      margin-top: VW(20);

      @include forMobile {
        aspect-ratio: 3/5;
      }
    }
  }
}
